/* RESET */

body, h1, h3, p, ul, li, a {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* MAIN */

main {
    background-color: #714a79;
}

/* MENU */

.menuBG {
    background: #490055;
    color: white;
    /* max-height: 56px; */
    /* position: fixed; */
    
}

.menu {
    max-width: 944px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu a {
    color: white;
}

.menuLogo a {
    font-size: 1.56em;
    font-weight: bold;
    margin: 0 10px;
}

.icone {
    width: 25.33px;
    height: 26px;
}

.nav, .nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.nav img {
    margin: 7.5px;
}

/* BACKGROUND */
/* Para colocar uma div sobreposta a outra, use position absolute e relative */
/* .background {
    max-height: 600px;
} */

.background {
    height: 600px;
    max-height: 75vw;
    background-image: url('uploads/fundo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}

.background h1, .background p {
    color: white;
    font-weight: bold;
    text-align: center;
}

.background h1 {
    font-size: 6.87em;
    width: 735px;
    height: 106px;
    margin-top: 200px;
    margin-bottom: 30px;
}

.background p {
    font-size: 1.7em;
    width: 280px;
    height: 90px;
    margin-top: 50px;   
}

/* PRODUTOS */

.produtos {
    background-color: #490055;
}

.titulo h1 {
    font-size: 2.62em; /* 47 = 2.93 */
    color: white;
    max-width: 944px;
    margin: 0 auto;
    padding: 60px 10px;
}

.produtos h3, .produtos p {
    color: white;
}

.produtos h3 {
    font-size: 2.18em; /* 40 = 2.5*/
    max-width: 944px;
    margin: 0 auto;
}

.produtos p {
    font-size: 1.25em; /* 25 = 1.56 */
    margin: 30px 0;
}
 
    /* RAÇÕES */

.racoes {
    display: flex;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.racoesTxt {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.btn {
    background-color:#00baf2;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#490055;
	font-weight:bold;
	padding:12px 15px;
	text-decoration:none;
    align-self: flex-end;
}

.btn:hover {
	background-color:#00c8ff;
}
.brn:active {
	position:relative;
	top:1px;
}

    /* BRINQUEDOS */

.brinquedos {
    display: flex;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brinquedosTxt{
    order: 2;
    max-width: 489px;
    text-align: right;
}

.brinquedos h3 {
    margin-top: 60px;
}

.brinquedos p {
    margin-top: 60px;
}

    /* ACESSÓRIOS */

.acessorios{
    display: flex;
    flex-wrap: wrap;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-around;
}

.flex {
    flex-grow: 0;
}

.flex2 {
    flex-grow: 1;
}

.flex3 {
    flex-grow: 2;
}

.aceTitle {
    padding: 60px 10px 30px;
    text-align: center;
}

.acessorios ul {
    font-size: 1.56em; 
    margin: 30px 0;
    color: white;
}

.acessoriosLImg {
    order: 1;
    align-self: flex-start;
}

.acessoriosL {
    order: 2;
    align-self: flex-start;
}

.acessoriosR {
    order: 3;
    align-self: flex-end;
    max-width: 170px;
    margin-bottom: 60px;
}

.acessoriosRImg {
    order: 4;
    align-self: flex-end;
    margin-bottom: 60px;
}

    /* SOBRE */

.sobreContent {
    display: flex;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sobre h1, .sobre p, .sobre h3 {
    color: white;
}

.sobreTitle h1{
    text-align: right;
}

.sobre h3{
    font-size: 2.18em;
    max-width: 360px;
}

.sobreTxt p {
    max-width: 350px;
    margin:90px 0;
    font-size: 1.25em;
}

.jack p {
    font-size: 0.80em;
    color:#00baf2;
    margin-bottom: 90px;
    padding: 0 15px;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(3deg);
}

    /* EQUIPE */

.equipe {
    background-color: #490055;
}

.duplaVendas {
    display: flex;
    justify-content: space-between;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.duplaVendasTxt {
    color:  white;
    font-size: 1.25em;
    max-width: 360px;
}

.duplaImg img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.p1 {
    margin: 90px 0;
}

.familia {
    display: flex;
    max-width: 779px;
    margin: 0 auto;
    padding: 0 10px;
    flex-flow: row wrap;
    flex-direction: column;
}

.familiaImg img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.familiaTxt {
    text-align: center;
    color: white;
    font-size: 1.25em;
    margin: 10px 0 60px;
}

    /* CONTATO */

.contato h1{
    text-align: right;
}

.contato a {
    color: white;
}

.contatoContent {
    display: flex;
    justify-content: space-between;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    flex-flow: row wrap;
}

.dados p, .dados a {
    color: white;
    font-size: 1.25em;
    text-align: center;
}

.dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-size: 1.25em;
    flex-wrap: wrap;
    max-width: 450px;
    text-align: center;
}

.numero {
    margin-bottom: 20px;
    color: white;
}

.mapa p {
    text-align: center;
    color: white;
}

    /* FOOTER */

footer {
    background-color: #490055;
    height: 53px;
    margin-top: 60px;
}

.footerDados {
    color: white;
    max-width: 944px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
}

.footerDados a {
    color: white;
}