/* MENU */

.menuBG {
    background: #490055;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0px -2px 20px 9px rgba(37,0,43,0.5); 
    box-shadow: 0px -2px 20px 9px rgba(37,0,43,0.5);
    z-index: 1;
}

.menu {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.menuLogo {
    font-size: 1.56rem;
    font-weight:bold;
}

.icone {
    width: 26px;
    height: 26px;
}

.nav, .nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

.nav a, .barra, .nav button  {
    margin-left: 10px;
}

.menu a:hover, .menu button:hover{
    color:#8ee5ff;
}

svg:hover path {
    fill: #8ee5ff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px;
    transition: all 0.3s ease; /* to form the "X" */
}

@media screen and (max-width: 768px){
    body {
        overflow-x: hidden;
    }

    .menu {
        padding: 10px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        padding: 0 0 20px;
        top: 8.9vh;
        background-color: #490055;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in; /* for the nav-links come out */
    }

    .barra {
        transform: rotate(90deg);
        height: 45px;
    }

    .nav-links li {
        opacity: 0;
    }   

    .burger {
        display: block;
    }
}

@media screen and (min-height: 642px){
    .nav-links {
        top: 8vh;
    }
}

@media screen and (min-height: 710px){
    .nav-links {
        top: 7vh;
        height: 94vh;
    }
}

.nav-active {
    transform: translate(0%);
}

/* The nav-links appear */

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

/* Burger becomes an X */

.toggle .line1{
    transform: rotate(-46deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}   
.toggle .line3{
    transform: rotate(46deg) translate(-5px, -6px);
}

/* BACKGROUND */

.background {
    background-image: url("images/fundo.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 440px;
    align-self: flex-end;
    margin-bottom: 20px;
}

.role {
    font-size: 1.56rem;
    text-align: center;
}

.fundoTexto h1 {
    font-size: 6.87rem;
}

@media screen and (max-width: 768px) {
    .home {
        height: 380px;
    }

    .home h1 {
        font-size: 50px;
    }
}

/* PRODUTOS */

.produtos {
    background-color: #490055;
}

.racoes, .brinquedos {
    margin-bottom: 60px;
}

/* RAÇÕES */

.racoes {
    display: flex;
    flex-wrap: wrap;
}

.racoes h1 {
    padding-top: 30px;
}

.racoesTxt {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.racoesImg {
    flex: 1 1 320px;
}

.bootbox-body, .modal-title {
    color: #490055;
}

input {
    background-color: #490055;
    color: #00baf2;
    text-decoration: underline;
    font-size: 1.25rem;
}


.btn {
    background-color:#00baf2;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#490055;
	font-weight:bold;
	padding:12px 15px;
	text-decoration:none;
    align-self: flex-end;
}

.btn:hover {
	background-color:#00c8ff;
}

/* BRINQUEDOS */

.brinquedos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brinquedosTxt {
    text-align: right;
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ACESSÓRIOS */

.acessorios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.aceTitle {
    text-align: center;
    margin-bottom: 60px;
}

.acessoriosL {
    align-self: flex-start;
}

.acessoriosR {
    align-self: flex-end;
}

.acessorios ul {
    font-size: 1.56em;
}

/* SOBRE */

.sobreContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobreTitle {
    text-align: right;
}

.jack p {
    font-size: 0.80rem;
    color:#00baf2;
    text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(3deg);
}

/* EQUIPE */

.equipe {
    background-color: #490055;
}


.duplaVendas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.duplaVendasTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.duplaImg img {
    padding-right: 60px;
}

.familia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.familiaTxt {
    flex-basis: auto;
}

.equipe a:hover{
    color: #00c8ff;
}


/* CONTATO */

.contato h1 {
    text-align: right;
}

.dados, .dados a {
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mapa{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    /* flex: 1 1 300px; */
}

.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.contato a:hover {
    color: #00baf2;
    font-size: 1.25rem;
}

/* FOOTER */

footer {
    background-color: #490055;
}

.footerDados {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 300px;
}

/* MEDIA */

@media (max-width: 655px) {
    .txt {
        text-align: center
    }
    main h1 {
        text-align: center;
    }

    main h3, .produtos p, .aceTitle, .sobreTxt p {
        margin-bottom: 30px;
    }

    .jack p {
        text-align: center;
        transform: rotate(0);
    }

    .contato h1 {
        text-align: center;
    }

    .footerDados {
        text-align: center;
        justify-content: center !important;
    }

    .btn {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .brinquedosTxt {
        order: 1;
    }
    .brinquedosImg {
        order: 2;
    }

    .acessorios {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    .acessoriosLImg{
        order: 2;
        margin-bottom: 30px;
    }
    .acessoriosL{
        order: 1;
        margin-bottom: 30px;
        align-self: center;
    }
    .acessoriosRImg {
        order: 4;
    }
    .acessoriosR {
        order: 3;
        margin-bottom: 30px;
        align-self: center;
    }

    .familiaImg {
        flex-basis: auto;
    }

    .duplaImg img{
        padding: 0;
        margin-bottom: 30px;
    }
}

button {
    background: none;
}
